@font-face {
    font-family: 'Canger2';
    src: url('https://www.zeyuchen.top/fonts/Cangerjinkai02-W02.ttf') format('truetype');
}

@font-face {
    font-family: 'Canger';
    src: url('https://www.zeyuchen.top/fonts/Cangerjinkai02-W04.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans Light';
    src: url('https://www.zeyuchen.top/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    src: url('https://www.zeyuchen.top/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Carlito";
    src: url('https://www.zeyuchen.top/fonts/Carlito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Carlito";
    src: url('https://www.zeyuchen.top/fonts/Carlito-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Carlito";
    src: url('https://www.zeyuchen.top/fonts/Carlito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Carlito";
    src: url('https://www.zeyuchen.top/fonts/Carlito-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Gill Sans MT', "Carlito", 'Canger', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    color: #484848;
    line-height: 1.3;
}

div {
    display: block;
    unicode-bidi: isolate;
}

a, a:visited {
    text-decoration: none;
    color: #004488;
}

a:hover {
    color: #DD6800;
}

#header {
    text-align: center;
    padding-top: 52px;
    padding-bottom: 20px;
}

#name {
    font-size: 40px;
    text-align: center;
    color: #484848;
}

#navigation {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    font-size: 15px;
    color: #8e8e8e;
    position: relative;
}

#navigation ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
}

#navigation ul:before, #navigation ul:after {
    content: "";
    display: block;
    height: 1px;
    background-color: #d0d0d0;
    position: absolute;
    top: 50%;
    width: calc(50% - 230px);
    margin-top: -1px;
}

#navigation ul:before {
    left: 0;
}

#navigation ul:after {
    right: 0;
}

#navigation li {
    display: inline-block;
    margin: 0 10px;
}

#navigation li:hover, #navigation li:active {
    background-color: #f6f6f6;
    color: #484848;
    border-radius: 15px;
}

#navigation .li_active {
    background-color: #f6f6f6;
    color: #484848;
    border-radius: 15px;
}

#navigation a, #navigation a:visited {
    display: block;
    color: inherit;
    padding: 10px 20px;
}

#wrapper {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px; 
}

#info_main_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 50px;
}

#information {
    flex: 0 1 150px;
    max-width: 200px;
    text-align: left;
    padding: 5px 10px;
    box-sizing: border-box;
}

#information a, #information a:visited {
    text-decoration: none;
    color: #484848;
}

#information a:hover {
    text-decoration: none;
    color: #DD6800;
}

div.info_title {
    font-family: 'OpenSans', "Carlito", 'Canger2', sans-serif;
    line-height: 1; 
    color: #004488;
    margin-bottom: 5px;
    margin-top: 15px;
    padding: 2px;
    padding-left: 4px;
    border-bottom: 1px solid #d0d0d0;
    font-size: 13px;
}

div.info_content {
    font-family: 'OpenSans', "Carlito", 'Canger', sans-serif;
    color: #484848;
    padding: 2px;
    padding-left: 4px;
    font-size: 12px;
    line-height: 10px;
}

.cropped-image-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cropped-image {
    width: 100%;
    height: auto;
    transform: scale(2);
    transform-origin: 70% 25%;
}

#main {
    flex: 1 1 600px;
    max-width: 800px;
    min-height: 100px;
    padding: 5px 10px;
    text-align: left;
    box-sizing: border-box;
}

#main h2 {
    font-size: 20px;
}

#main p {
    margin-left: 1.5em;
    margin-bottom: 5px;
}

#main_blog p {
    margin-left: 0em;
    margin-bottom: 5px;
}

.abstract {
    font-size: 15px;
    font-family: "Carlito", sans-serif;
    line-height: 1.2; 
    margin-top: 5px;
}

.presented {
    margin-left: 1.5em;
    display: block;
}

#author a {
    color: #484848
}

#author a:hover {
    color: #DD6800;
}

.blog_title { 
    font-size: 20px; 
    font-family: 'Gill Sans MT', "Carlito", 'Canger', sans-serif;
    font-weight: bold;
} 

.blog_date{ 
    font-size: 12px; 
    font-family: 'OpenSans', sans-serif; 
    letter-spacing: 1px;
    margin-left: 2px;
}

.blog_div{
    padding-bottom: 10px;
    border-bottom: 1px solid #d0d0d0;
}

#blog_language_button, #paper_sharing_button{
    color: #484848;
    text-align: right;
    
}

#blog_language_button a, #paper a, #paper_sharing_button a{
    color: #484848;
}

#blog_language_button a:hover, #paper a:hover, #paper_sharing_button a:hover{
    color: #DD6800;
}


#footer {
    border-top: 1px solid #d0d0d0;
    color: #9BA1A6;
    font-size: 12px;
    font-family: 'OpenSans', sans-serif;
    text-align: right;
    padding: 10px 0;
    width: 100%;
    max-width: 900px;
    min-height: 100px;
    margin: 0 auto;
    box-sizing: border-box;
}