@font-face {
    font-family: 'Canger2';
    src: url('/fonts/Cangerjinkai02-W02.ttf') format('truetype');
}

@font-face {
    font-family: 'Canger';
    src: url('/fonts/Cangerjinkai02-W04.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans Light';
    src: url('/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Carlito";
    src: url('/fonts/Carlito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Carlito";
    src: url('/fonts/Carlito-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Carlito";
    src: url('/fonts/Carlito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Carlito";
    src: url('/fonts/Carlito-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

html {
    font-size: 16px;
}
@media (max-width: 768px) {
    html {
        font-size: 15px; 
    }
}


body {
    font-family: "Carlito", 'Canger', sans-serif;
    font-size: 1rem;
    padding-left: 10%;
    padding-right: 10%;
    color: #dddddd;
    line-height: 1.3;
    background-color: #7A6A5A;
}

div {
    display: block;
    unicode-bidi: isolate;
}

a, a:visited {
    text-decoration: none;
    color: #F0E68C;
}

a:hover {
    color: #FFCB05;
}

#header {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
}

#name {
    font-size: 3rem;
    text-align: center;
    color: #eeeeee;
    font-family: 'OpenSans', 'Carlito', 'Canger', sans-serif;
    letter-spacing: 1px;
}

#navigation {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    font-size: 1.1rem;
    color: #cccccc;
    position: relative;
    font-family: 'OpenSans', 'Carlito', 'Canger', sans-serif;
}

#navigation ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
}

#navigation ul:before, #navigation ul:after {
    content: "";
    display: block;
    height: 1px;
    background-color: #dddddd;
    position: absolute;
    top: 50%;
    width: calc(50% - 230px);
    margin-top: -1px;
}

#navigation ul:before {
    left: 0;
}

#navigation ul:after {
    right: 0;
}

#navigation li {
    display: inline-block;
    margin: 0 10px;
}

#navigation li:hover {
    color: #dddddd;
}

#navigation .li_active {
    background-color: #dddddd;
    color: #8B7765;
    border-radius: 15px;
}

#navigation .li_active:hover {
    background-color: #dddddd;
    color: #8B7765;
    border-radius: 15px;
}

#navigation a, #navigation a:visited {
    display: block;
    color: inherit;
    padding: 10px 20px;
}

#wrapper {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px; 
}

#info_main_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 50px;
}

#information {
    flex: 0 1 150px;
    max-width: 200px;
    text-align: left;
    padding: 5px 10px;
    box-sizing: border-box;
}

#information a, #information a:visited {
    text-decoration: none;
    color: #dddddd;
}

#information a:hover {
    text-decoration: none;
    color: #FFCB05;
}

div.info_title {
    font-family: 'OpenSans', "Carlito", 'Canger', sans-serif;
    line-height: 1; 
    color: #F0E68C;
    margin-bottom: 5px;
    margin-top: 15px;
    padding: 2px;
    padding-left: 4px;
    border-bottom: 1px solid #d0d0d0;
    font-size: 0.9rem;
}

div.info_content {
    font-family: 'OpenSans', "Carlito", 'Canger', sans-serif;
    color: #dddddd;
    padding: 2px;
    padding-left: 4px;
    font-size: 0.85rem;
    line-height: 10px;
}

.cropped-image-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cropped-image {
    width: 100%;
    height: auto;
    transform: scale(2);
    transform-origin: 70% 25%;
}

#main {
    flex: 1 1 600px;
    max-width: 800px;
    min-height: 100px;
    padding: 5px 10px;
    text-align: left;
    box-sizing: border-box;
}

#main h2 {
    font-size: 1.3rem;
}

#main p {
    margin-bottom: 5px;
}


.research_item {
    padding-left: 30px;
}

.abstract {
    font-size: 0.95rem;
    font-family: "Carlito", sans-serif;
    line-height: 1.2; 
    margin-top: 5px;
    padding-left: 30px;
}

.research_title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: -0.75cm;
    margin-top: -0.5cm;
}

.research_title::before {
    content: "● ";
    font-size: 0.9rem;
    margin-right: 0.4em;
}

.presented {
    margin-left: 1.5em;
    display: block;
}

#author a {
    color: #dddddd
}

#author a:hover {
    color: #FFCB05;
}

#paper_sharing_title { 
    font-size: 1.2rem; 
    font-family: "Carlito", 'Canger', sans-serif;
    font-weight: bold;
}

#paper_sharing_title a { 
    color: #dddddd;
}

#paper_sharing_title a:hover {
    color: #FFCB05;
}


code {
    background: #8b7b6b;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 0.8rem;
    font-family: 'Consolas', monospace;
}



#footer {
    border-top: 1px solid #d0d0d0;
    color: #dddddd;
    font-size: 0.9rem;
    font-family: 'OpenSans', sans-serif;
    text-align: right;
    padding: 10px 0;
    width: 100%;
    max-width: 900px;
    min-height: 100px;
    margin: 0 auto;
    box-sizing: border-box;
}